.nav-bar {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2rem 2rem;
  margin-bottom: 2rem;
  position: relative;
}
.btn-back {
  width: 2rem;
  height: 2rem;
}
.logo-name {
  justify-self: center;
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 0.07rem;
}
.btn-front {
  justify-self: end;
  z-index: 9999999;
  cursor: pointer;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.2rem);
  z-index: 2;
  /* opacity: 0; */
}
.fade-in {
  animation: fadeIn 1s forwards ease-in-out;
}

.mobile-nav {
  position: absolute;

  border-radius: 1rem;

  background-color: #e5e5e5;
  padding: 0.2rem 0 0.2rem 1rem;
  z-index: 9999999;
  opacity: 0;
  min-width: 15%;

  /* transform: translateX(85%); */
  transform: translateY(-10%);
  margin: 0 auto;
  overflow: hidden;
}

.fade-in-left {
  animation: slideInFromLeft 3s forwards ease-in-out;
}
.mobile-list {
  padding: 1rem 0 1rem 1rem;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: #444;
  display: flex;
  flex-direction: column;

  list-style: none;
}
.hc-border-bottom {
  border-bottom: 0.13rem solid #999;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.hc-border-bottom:last-child {
  border: none;
  color: red;
}
/* nav animation */
@keyframes slideInFromLeft {
  /* from {
    transform: translateX(-4%);

    opacity: 0;
  } */
  to {
    transform: translateX(81%) translateY(-10%);

    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
