* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  justify-content: center;
  max-height: 100vh;

  font-family: "Roboto Condensed", sans-serif;

  list-style: 1;
  font-weight: 400;
  /* overflow-x: hidden; */
}
.container {
  /* background-color: antiquewhite; */
  max-width: 35.5rem;
  max-height: 91.5rem;
  width: 100%;
  margin: 0 auto;
  /* border: 0.1rem solid black; */
  /* z-index: 99999; */
  background-color: #dde6ed42;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.09);
  border-radius: 3rem;
  overflow: hidden;
}
.nav-bar {
  /* width: 90%;
  margin: 0 auto; */
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2rem 2rem;
  margin-bottom: 2rem;
}
.logo-name {
  justify-self: center;
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 0.07rem;
}
/* ion-icon {
  font-size: 1.6rem;
  color: red;
} */
.btn-front {
  justify-self: end;
}
.btn-back {
  width: 2rem;
  height: 2rem;
}
.card-container {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.09);
  border-radius: 1rem;
  padding: 1.4rem 2rem;
  align-items: center;
  justify-content: center;
  row-gap: 1.5rem;
  margin-bottom: 2rem;
  background-color: #fff;

  transition: margin-bottom 0.4s ease-in-out;
}
.btc {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 2rem;
}

.coin-name {
  justify-self: end;
  grid-column: 3;
  font-weight: 500;
  color: #999;
  font-size: 1.4rem;
}
.coin-bitcoin {
  font-weight: 500;
  font-size: 1.5rem;
  color: #555;
}
.btc-icon-con {
  display: grid;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: bisque;
  align-items: center;
  justify-content: center;
}
.coin-amount {
  font-size: 3.26rem;
  grid-row: 2;
  grid-column: 1/-1;
  font-weight: 400;
  color: #444;
  /* letter-spacing: 0.07rem; */
}
.coin-in-usd {
  grid-row: 3;
  font-size: 1.4rem;
  font-weight: 500;
  color: #999;
}
.value-rate {
  grid-row: 3;
  grid-column: 3;
  width: min-content;
  border-radius: 1rem;
  justify-self: end;
  border: none;
  padding: 0.3rem 1rem;
  background-color: #e63946;
  font-size: 1rem;
  color: #fff;
}
.arrow-down {
  grid-row: 4;
  grid-column: 2;

  justify-self: center;

  width: 2rem;
  height: 2rem;
}

.drop-down-list {
  display: none;
}
.show-list {
  /* max-height: 20rem; */

  width: 80%;
  margin: 0 auto;

  background-color: #ffffff60;
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.09);
  margin-top: -2rem;
  transition: max-height 0.3s ease-in-out;
  z-index: 1;
}
.duration-container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 0 0.3rem;
  font-size: 1.3rem;
  color: #777;
  font-weight: 400;
}

.btn {
  cursor: pointer;
  border: none;
  color: none;
  padding: 0.6rem 1.6rem;
  border-radius: 3rem;
}
.active {
  background-color: rgba(153, 153, 153, 0.336);
  color: #fff;
}
.chart-container {
  width: 85%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.09);
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 2rem;
}
.line-chart {
  margin: 0 auto;
}
.margin-top {
  margin-top: 20rem;
}
.btc-container {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}
.buy-sel-btc {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.09);
  border-radius: 1rem;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  gap: 0.7rem;
}
/* .sell-btc {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;

  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  gap: 0.7rem;
} */
.buy-sell-btc {
  width: 2.4rem;
  height: 2.4rem;
}
.color-btc {
}
.menu {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 4rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.09);
  background-color: #fff;
}
.buy-sell-details {
  font-size: 1rem;
  font-weight: 600;
  color: #777;
}

. @media screen and (max-width: 480px) {
}
